{
  "singleQuote": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-sh"],
  "overrides": [
    {
      "files": "*.sh",
      "options": {
        "parser": "sh",
        "binaryNextLine": true,
        "keepComments": true
      }
    }
  ]
}
